.nav {
    color: black;
    display: flex;
    justify-content:flex-end;
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: none;
}
.liNavTop {
    display: inline-block;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 44px;
    width: 79px;
    height: 26px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}
.liNavTop a {
    color: black;
    text-decoration: none;
}
.liNavTop a:hover {
    color:#BF510E;
    font-weight: 800;
}
.activePagebar {
    background-color: #BF510E;
    position: relative;
    top: -40px;
    opacity: 1;
    height: 6px;
    width: 79px;
    margin-top: 0px;
    align-items: center;
    z-index: 2;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#mainTiles {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0;
}
#projectTile1 {
    background-color: #ADBDA3;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-row: 1;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
}
#project1 {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    color: #BF510E;
    font-family: 'Shadows Into Light', cursive;
    font-size: 64px;
    font-weight: 300;
    grid-column: 5 / 11;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 24px;
}
.projSummary {
    color: black;
    display: grid;
    background-color:rgba(0, 0, 0, 0);
    font-size: 28px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    grid-column: 3 / 13;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.readMore {
    color: black;
    display: grid;
    grid-row: 3;
    grid-column: 6 / 10;
    background-color: white;
    height: 42px;
    width: 250px;
    text-align: center;
    align-items: center;
    font-size: 26px;
    font-family: 'Poiret One', cursive;
    border: none;
    border-radius: 30px;
    padding: 0;
    margin-top: 39px;
    text-decoration: none;
}
.readMore a {
    color: black;
    text-decoration: none;
}
.readMore a:hover {
    background-color: #BF510E;
    color: white;
    height: 42px;
    width: 250px;
    border: none;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}
#project1Image {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 64.22%;
    padding: 0;
}
img {
    width: 373px;
    height: auto;
}


#projectTile2 {
    display: grid;
    background-color: #F7F7F7;
    grid-template-columns: repeat(24, 1fr);
    grid-row: 2;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
}
#project2 {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    color: #ADBDA3;
    font-family: 'Shadows Into Light', cursive;
    width: 490px;
    text-align: center;
    font-size: 64px;
    font-weight: 300;
    grid-column: 15 / 22;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 24px;
}
#projSummary2 {
    color: black;
    display: grid;
    background-color:rgba(0, 0, 0, 0);
    font-size: 28px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    grid-column: 14 / 23;
    margin-block-start: 0em;
    margin-block-end: 0em; 
}
#readMore2 {
    color: black;
    display: grid;
    grid-row: 3;
    grid-column: 16 / 21;
    background-color: #ADBDA3;
    height: 42px;
    width: 250px;
    text-align: center;
    align-items: center;
    font-size: 26px;
    font-family: 'Poiret One', cursive;
    border: none;
    border-radius: 30px;
    padding: 0;
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 39px;
    text-decoration: none;
}
#readMore2 a {
    color: black;
    text-decoration: none;
}
#readMore2 a:hover {
    background-color: #BF510E;
    color: white;
    height: 42px;
    width: 250px;
    border: none;
    border-radius: 30px;
    text-align: center;
    align-items: center;
}
#project2Image {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 10%;
    padding: 0;
}


#project3 {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    color: #BF510E;
    font-family: 'Shadows Into Light', cursive;
    font-size: 64px;
    font-weight: 300;
    grid-column: 5 / 11;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 24px;
}
#projectTile3 {
    background-color: #ADBDA3;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-row: 3;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
}
#project3Image {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 70px;
    margin-left: 64.22%;
    padding: 0;
}


#footerBlock {
    background-color: white;
    height: 104px;
    width: 100%;
    padding-bottom: 0px;
    margin-top: 0px;
    display: flex;
}
#footLISA {
    color:black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 55px;
    font-weight: 300;
    margin-left: 17px;
    margin-top: -2px;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
}
#footHOLMQUIST {
    color:black;
    font-family:'Julius Sans One', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    margin-top: 70px;
    margin-left: 17px; 
    z-index: 2;
}
#footHOLMQUIST span {
    color:#FF6100;
    background: rgba(0, 0, 0, 0);
    z-index: 2; 
}
#leftLine {
    background-color: #FF6100;
    height: 75px;
    width: 1px;
    margin-top: 14.5px;
    margin-left: 130px;
}
#rightLine {
    background-color:#FF6100;
    height: 75px;
    width: 1px;
    margin-top: 14.5px;
}
.liNavFoot {
    display: inline-block;
    margin-top: 32px;
    margin-left: 11.8%;
    width: 108px;
    height: 40px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    z-index: 2;
}
.liNavFoot a {
    color: black;
    text-decoration: none;
}
.liNavFoot a:hover {
    color:#BF510E;
    font-weight: 800;
}

@media only screen and (max-width: 756px) {

    #projectTile1 {
        background-color: #ADBDA3;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }    
    #project1 {
        width: 100%;
    }
    .projSummary {
        display: grid;
        font-size: 20px;
        grid-row: 3;
    }
    #project1Image {
        position: static;
        display: grid;
        grid-row: 2;
        margin: 0;
    }
    #projSummary2 {
        display: grid;
        font-size: 20px;
    }
    img {
        width: 326px;
        height: auto;
    }
    .readMore {
        display: grid;
        grid-row: 4;
    }
    #projectTile2 {
        display: grid;
        background-color: #F7F7F7;
        grid-auto-columns: 1;
        grid-row: 2;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
}